.ql-container {
  min-height: 200px;
  width: 100%;
}

.ql-toolbar {
  z-index: 10;
  font-size: 8px;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgb(224, 224, 224);
}
.ql-container.ql-snow {
  background-color: white;
}

.ql-toolbar.ql-snow{
  background-color: white;
}